<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Python Data Cleaning and Analysis - Kenyan Households Roofing Materials

## 1.0 Importing our Libraries

In [1]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd
# Importing the numpy library
#
import numpy as np

## 1.1 Reading the Dataset from our CSV file



The dataset we will use contains Kenyan households by the main type of Roofing Material for the main dwelling unit for 2009.



*   Dataset link for download or access: [Link](https://drive.google.com/a/moringaschool.com/file/d/1Mij0eAI8CHzanECX-n4Cv20N0A_whueJ/view?usp=sharing)

In [2]:
# Let's read the data from the CSV file and create the dataframe to be used
# 
roofing_df= pd.read_csv('/content/2009_Census_Volume_II_Table_5_Households_by_main_type_of_Roofing_Material_for_the_main_dwelling_unit_by_district.csv')

## 1.2 Previewing our Dataset

In [3]:
# Let's preview the first 10 rows of our data
#
roofing_df.head(10)

               District rural/urban  ... Province OBJECTID
0       NYANDARUA NORTH       Urban  ...  CENTRAL        0
1       NYANDARUA SOUTH       Urban  ...  CENTRAL        1
2           NYERI NORTH       Urban  ...  CENTRAL        2
3           NYERI SOUTH       Urban  ...  CENTRAL        3
4             KIRINYAGA       Urban  ...  CENTRAL        4
5         MURANGA NORTH       Urban  ...  CENTRAL        5
6         MURANGA SOUTH       Urban  ...  CENTRAL        6
7  KIAMBU EAST(KIAMBAA)       Urban  ...  CENTRAL        7
8                KIKUYU       Urban  ...  CENTRAL        8
9           KIAMBU WEST       Urban  ...  CENTRAL        9

[10 rows x 26 columns]

## 1.3 Accessing Information about our Dataset

We might need to convert columns to the respective datatypes ie. if there are payment columns we could convert them from string to float. This observation can be made by accessing information about the dataset.

In [4]:
# Getting to know more about the dataset by accessing its information
#
roofing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315 entries, 0 to 314
Data columns (total 26 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   District                                315 non-null    object
 1   rural/urban                             315 non-null    object
 2   %_of_Households_Corrugated_Iron_Sheets  290 non-null    object
 3   %_of_Households_Tiles                   290 non-null    object
 4   %_of_Households_Concrete                290 non-null    object
 5   Asbestos_%_of_Households_Sheets         290 non-null    object
 6   %_of_Households_Grass                   290 non-null    object
 7   %_of_Households_Makuti                  290 non-null    object
 8   %_of_Households_Tin                     290 non-null    object
 9   %_of_Households_Mud/Dung                290 non-null    object
 10  %_of_Households_Other                   290 non-null    object
 11  Households                              315 non-null    int64
 12  No_Corrugated_Iron_Sheets               315 non-null    int64
 13  No_Tiles                                315 non-null    int64
 14  No_Concrete                             315 non-null    int64
 15  No_Asbestos_Sheets                      315 non-null    int64
 16  No_Grass                                315 non-null    int64
 17  No_Makuti                               315 non-null    int64
 18  No_Tin                                  315 non-null    int64
 19  No_Mud/Dung                             315 non-null    int64
 20  No_Other                                315 non-null    int64
 21  County                                  315 non-null    object
 22  MTEF                                    315 non-null    object
 23  Location_1                              0 non-null      float64
 24  Province                                315 non-null    object
 25  OBJECTID                                315 non-null    int64
dtypes: float64(1), int64(11), object(14)
memory usage: 64.1+ KB

## 1.4 Cleaning our Dataset

Let us perform data cleaning procedures below providing a documentation for our actions. We will perform as many data cleaning procedures as we think suitable for the various dimensions of data.

### 1.41) Validity: <font color="green">Challenges</font>

In [5]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:
# first lests remove the location column
roofing_df.drop(["Location_1"], axis = 1, inplace = True)

In [6]:
# Procedure 2:
# Data Cleaning Action:
# Explanation
#also drop the MTEF data as it is all the same 
roofing_df.drop(["MTEF"], axis = 1, inplace = True)
roofing_df.head()

          District rural/urban  ... Province OBJECTID
0  NYANDARUA NORTH       Urban  ...  CENTRAL        0
1  NYANDARUA SOUTH       Urban  ...  CENTRAL        1
2      NYERI NORTH       Urban  ...  CENTRAL        2
3      NYERI SOUTH       Urban  ...  CENTRAL        3
4        KIRINYAGA       Urban  ...  CENTRAL        4

[5 rows x 24 columns]

In [7]:
# Procedure 3:
# Data Cleaning Action:
# Explanation:
#check for the types of duplicated data 
dupsdf = roofing_df[roofing_df.duplicated()]
print("the diplicated rows are: \n")
dupsdf.count()
# There are no duplicated data

the diplicated rows are:

District                                  0
rural/urban                               0
%_of_Households_Corrugated_Iron_Sheets    0
%_of_Households_Tiles                     0
%_of_Households_Concrete                  0
Asbestos_%_of_Households_Sheets           0
%_of_Households_Grass                     0
%_of_Households_Makuti                    0
%_of_Households_Tin                       0
%_of_Households_Mud/Dung                  0
%_of_Households_Other                     0
Households                                0
No_Corrugated_Iron_Sheets                 0
No_Tiles                                  0
No_Concrete                               0
No_Asbestos_Sheets                        0
No_Grass                                  0
No_Makuti                                 0
No_Tin                                    0
No_Mud/Dung                               0
No_Other                                  0
County                                    0
Province                                  0
OBJECTID                                  0
dtype: int64

### 1.42) Accuracy <font color="green">Challenges</font>

In [8]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:
# turn the % collumns to float
roofing_df[['%_of_Households_Corrugated_Iron_Sheets','%_of_Households_Tiles', '%_of_Households_Concrete', 'Asbestos_%_of_Households_Sheets', '%_of_Households_Grass','%_of_Households_Makuti', '%_of_Households_Tin', '%_of_Households_Mud/Dung', '%_of_Households_Other' ]].apply(lambda x: map(lambda x:'{:.2f}%'.format(x),x),axis=1)

0      <map object at 0x7fb2e1b19490>
1      <map object at 0x7fb2e1b19590>
2      <map object at 0x7fb2e1b19650>
3      <map object at 0x7fb2e1b19610>
4      <map object at 0x7fb2e1b196d0>
                    ...
310    <map object at 0x7fb2e1aced50>
311    <map object at 0x7fb2e1acee50>
312    <map object at 0x7fb2e1acef50>
313    <map object at 0x7fb2e1ad0090>
314    <map object at 0x7fb2e1ad0190>
Length: 315, dtype: object

In [9]:
# Procedure 2:
# Data Cleaning Action:
# Explanation:
#check data 
roofing_df.dtypes

District                                  object
rural/urban                               object
%_of_Households_Corrugated_Iron_Sheets    object
%_of_Households_Tiles                     object
%_of_Households_Concrete                  object
Asbestos_%_of_Households_Sheets           object
%_of_Households_Grass                     object
%_of_Households_Makuti                    object
%_of_Households_Tin                       object
%_of_Households_Mud/Dung                  object
%_of_Households_Other                     object
Households                                 int64
No_Corrugated_Iron_Sheets                  int64
No_Tiles                                   int64
No_Concrete                                int64
No_Asbestos_Sheets                         int64
No_Grass                                   int64
No_Makuti                                  int64
No_Tin                                     int64
No_Mud/Dung                                int64
No_Other                                   int64
County                                    object
Province                                  object
OBJECTID                                   int64
dtype: object

### 1.43) Completeness <font color="green">Challenges</font>

In [10]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:
#
OUR CODE GOES HERE

SyntaxError: ignored

In [ ]:
# Procedure 2:
# Data Cleaning Action:
# Explanation:
#
OUR CODE GOES HERE

### 1.44) Consitency: <font color="green">Challenges</font>

In [ ]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:
#
OUR CODE GOES HERE

### 1.45) Uniformity: <font color="green">Challenges<font/>

In [ ]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:
#
OUR CODE GOES HERE

In [ ]:
# Procedure 2:
# Data Cleaning Action:
# Explanation:
#
OUR CODE GOES HERE

### Exporting the Cleaned Dataset

In [ ]:
# Let's export our dataframe into a csv file as shown 
# in the example given in the following line;
# daframe.to_csv('example.csv')
# In the above case daframe is the dataframe which would like to export.
# we use the to_csv function to create a csv file with the name example 
# and export it
#
OUR CODE GOES HERE

## 1.5 Answering Questions

Let's answer the following questions with our dataset

In [ ]:
# Challenge 1
# Find out the most popular type of household material for urban regions.
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 2
# Find out the least popular type of household material for urban regions.
#
OUR CODE GOES HERE

In [ ]:
# Challenge 3
# Find out the most popular type of households material in the urban regions of Nairobi.
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 4
# Find out the least popular type of households material in rural regions of Nairobi.
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 5
# Find out the average no. of tiling households.
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 6
# Which county has the highest no. of grass households?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 7
# Which top 5 counties have the highest no of households made of iron sheets ?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 8
# What is the average no. of households in Kenya?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 9
# Which county has the most no. of households made of dung?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 10
# In ascending order, which top 3 counties have the highest no. of households with makuti?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 11
# What is the no. of Makuti households in urban regions?
#
OUR CODE GOES HERE

In [ ]:
# Challenge 12
# What is the no. of Makuti households in the rural regions of Kisumu county?
#
OUR CODE GOES HERE

In [ ]:
# Challenge 13
# What percentage of households in Kenya are concrete?
#
OUR CODE GOES HERE

In [ ]:
# Challenge 14
# Which top 3 districts have the highest no. of grass and makuti households?
#
OUR CODE GOES HERE

In [ ]:
# Challenge 15 
# What is the households distribution of iron sheets, mud/dung, tin, 
# makuti, grass, sheets, concrete, tiles for Baringa County?
# 
OUR CODE GOES HERE