<a href="https://colab.research.google.com/github/Ruoro/hello-world/blob/main/SQL_FUNCTIONS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL FUNCTIONS

### String manipulation Functions

We use string manipulation functions quite extensively. Here are some of the important functions which we typically use. |
>* Case Conversion- lower , upper , initcap
> *Getting size of the column value - length 
> *Extracting Data- substr and split_part 
> *Trimming and Padding functions - trim, rtrim, ltrin, rpad and lpad 
> *Reversing strings - reverse
> *Concatenating multiple strings concat and concat_ws 


Case Conversion and Length
Let us understand how to perform case conversion functions of a string and also length of a string.

In [1]:
%load_ext sql

In [2]:
# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

# Setup a database with name `tfio_demo` to be used
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS prac_db;'
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE prac_db;'

 * Starting PostgreSQL 10 database server
   ...done.
ALTER ROLE
DROP DATABASE
CREATE DATABASE

In [3]:
%env PRAC_DB_DATABASE_NAME=prac_db
%env PRAC_DB_DATABASE_HOST=localhost
%env PRAC_DB_DATABASE_PORT=5432
%env PRAC_DB_DATABASE_USER=postgres
%env PRAC_DB_DATABASE_PASS=postgres

env: PRAC_DB_DATABASE_NAME=prac_db
env: PRAC_DB_DATABASE_HOST=localhost
env: PRAC_DB_DATABASE_PORT=5432
env: PRAC_DB_DATABASE_USER=postgres
env: PRAC_DB_DATABASE_PASS=postgres

In [4]:
#%sql sqlite://

In [10]:
%env DATABASE_URL = postgresql://postgres:postgres@localhost:5432/prac_db

env: DATABASE_URL=postgresql://postgres:postgres@localhost:5432/prac_db

In [11]:
# USING THE CASE CONVERSION
%%sql 

SELECT lower('HEllo WOrld') as lower_result,
      upper('Hello woLRd') as upper_result,
      initcap('Hello woLRd') as initcap_result

1 rows affected.

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

[('hello world', 'HELLO WOLRD', 'Hello Wolrd')]

In [12]:
# GET LENGTH
%%sql

SELECT length('Hello wOrLD') as result

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(11,)]

In [14]:
# SUBSTRING

# get 4 characters from position 1
%%sql

SELECT substr('2013-07-25 00:00:01.0', 1, 4) as result

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[('2013',)]

In [18]:
# DIFFERENCE IS IN THE PREDIFINED FUNCTION NAMES
%%sql

SELECT substring('2013-07-25 00:00:01.0' FROM 1 FOR 4) as result

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[('2013',)]

In [19]:
%%sql

SELECT substr('2013-07-25 00:00:01.0', 6, 2) as result

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[('07',)]

In [21]:
%%sql 

WITH unique_ids AS ( 
      SELECT '241-80-7115' AS unique_id UNION 
      SELECT '694-38-6851' UNION
      SELECT '586-92-5361' UNION
      SELECT '884-65-284' UNION
      SELECT '876-99-585' UNION
      SELECT '831-59-5503' UNION
      SELECT '399-88-3617' UNION
      SELECT '733-17-4217' UNION
      SELECT '873-68-9778' UNION
      SELECT '48'
) SELECT unique_id, 
substring(unique_id FROM 1 FOR 3) AS unique_id_first3,
substring(unique_id FROM '....$') AS unique_id_last4
FROM unique_ids
ORDER BY unique_id

 * postgresql://postgres:***@localhost:5432/prac_db
10 rows affected.

[('241-80-7115', '241', '7115'),
 ('399-88-3617', '399', '3617'),
 ('48', '48', None),
 ('586-92-5361', '586', '5361'),
 ('694-38-6851', '694', '6851'),
 ('733-17-4217', '733', '4217'),
 ('831-59-5503', '831', '5503'),
 ('873-68-9778', '873', '9778'),
 ('876-99-585', '876', '-585'),
 ('884-65-284', '884', '-284')]

In [25]:
# SPLITPART 
# has 3 arguments the string to be split, the delimiter to be used and the position of the part
# in this case we extract the 3rd part of the string with - as the delimiter
%%sql

SELECT split_part('2013-04-21', '-', 3)

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[('21',)]

In [30]:
# USING STRPOS and POSITION
# what we are searching for comes first
%%sql 

SELECT position('@' IN 'it@versity.com'),
    position('@' IN 'itversity.com')

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(3, 0)]

In [29]:
# what we are serching for comes last and does not have IN
%%sql 

SELECT strpos('it@versity.com','@'),
    strpos('itversity.com','@')

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(3, 0)]

In [36]:
# TRIMMING to remove the characters specified  on the string
# ltrim
# rtrim
# trim
# LEFT 
%%sql 

SELECT ltrim('            HELLO WORLD', ' ') AS result

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[('HELLO WORLD',)]

In [37]:
# RTRIM
%%sql 

SELECT rtrim('            HELLO WORLD             ') AS result

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[('            HELLO WORLD',)]

In [39]:
# TRIM
# TRIM MULIPLE CHARACTERS BY SPECIFYING THEM IN ':-/'
# one can also use phrases like LEADING and TRAILING to identify what to trim
%%sql 

SELECT trim('            HELLO WORLD             ') AS result

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[('HELLO WORLD',)]

In [40]:
# REVERSE STRING 
%%sql 

SELECT reverse('HELLO WORLD') AS result

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[('DLROW OLLEH',)]

### STRING REPLACEMENT

In [41]:

# REPLACE
# OVERLAY  PLACINF FROM FOR
# TRANSLATE can be used for phone numbers

%%sql
SELECT translate('+254 (7063) 50181', '+() -', '') AS result

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[('254706350181',)]

### DATE MANIPULATION

In [42]:
# CURRENT DATE
%%sql
SELECT current_date as current_date

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(datetime.date(2022, 7, 26),)]

In [43]:
# CURRENT TIMESTAMP
%%sql
SELECT current_timestamp as current_timestamp

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(datetime.datetime(2022, 7, 26, 5, 52, 48, 664115, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

In [44]:
# WE Can use string manipulation functions but it is not good pracice
# the ::varchar is a sql trick to typecast into a string
%%sql

SELECT substring(CURRENT_DATE::varchar, 1, 4) as current_year

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[('2022',)]

In [48]:
# DATE ARITHMETIC
# as long as you use INTERVAL you can perform date arithmetic
%%sql

SELECT CURRENT_DATE + INTERVAL '32 DAYS' AS result

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(datetime.datetime(2022, 8, 27, 0, 0),)]

In [49]:
%%sql

SELECT CURRENT_DATE + INTERVAL '3 MONTHS' AS result

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(datetime.datetime(2022, 10, 26, 0, 0),)]

In [50]:
%%sql

SELECT CURRENT_DATE - INTERVAL '3 MONTHS' AS result

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(datetime.datetime(2022, 4, 26, 0, 0),)]

In [52]:
%%sql

SELECT '2022-07-13'::date + INTERVAL '5 DAYS' AS result

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(datetime.datetime(2022, 7, 18, 0, 0),)]

In [53]:
%%sql

SELECT '2022-07-18'::date + INTERVAL '23 DAYS' AS result

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(datetime.datetime(2022, 8, 10, 0, 0),)]

In [54]:
%%sql

SELECT current_date + INTERVAL '2 MONTHS 23 DAYS 5 HOURS' AS result

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(datetime.datetime(2022, 10, 19, 5, 0),)]

Functions the same even when you use CURRENT TIMESTAMP

In [ ]:
%%sql

SELECT '2022-07-18'::date - to_date('2017/31/12', 'yyyy/dd/MM' AS result

In [59]:
%%sql

SELECT '2022-07-18'::date - '2017-12-12'::date AS result

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(1679,)]

In [62]:
# NUMBER OF DAYS SARAH HAS BEEN ALIVE
%%sql

SELECT current_date - '1999-10-12'::date AS result

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(8323,)]

### BEGINING DATE DATE TRUNC

In [67]:
#GET THE BEGINNING DATE OF THE MONTH YEAR OR WEEK
%%sql

SELECT date_trunc('YEAR', current_date) AS result

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(datetime.datetime(2022, 1, 1, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

In [64]:
%%sql

SELECT date_trunc('WEEK', current_date) AS result

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(datetime.datetime(2022, 7, 25, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

In [65]:
%%sql

SELECT date_trunc('MONTH', current_date) AS result

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(datetime.datetime(2022, 7, 1, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

In [69]:
%sql SELECT current_timestamp AS time_now

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(datetime.datetime(2022, 7, 26, 6, 20, 15, 535424, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

### USE to_char AND to_date

In [73]:
%%sql

SELECT current_timestamp as current_timestamp,
    to_char(current_timestamp, 'yyyy') as year,
    to_date('2021', 'yyyy')

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(datetime.datetime(2022, 7, 26, 6, 25, 39, 263135, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '2022', datetime.date(2021, 1, 1))]

In [74]:
%%sql

SELECT current_timestamp as current_timestamp,
    to_char(current_timestamp, 'yy') as year

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(datetime.datetime(2022, 7, 26, 6, 26, 13, 951232, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '22')]

In [76]:
%%sql

SELECT current_timestamp as current_timestamp,
    to_char(current_timestamp, 'MM') as month

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(datetime.datetime(2022, 7, 26, 6, 26, 48, 10526, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '07')]

In [77]:
%%sql

SELECT current_timestamp as current_timestamp,
    to_char(current_timestamp, 'MM') as month,
    to_date('2020:11:10', 'yyyy:MM:dd')

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(datetime.datetime(2022, 7, 26, 6, 28, 9, 506239, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '07', datetime.date(2020, 11, 10))]

In [78]:
%%sql

SELECT current_timestamp as current_timestamp,
    to_char(current_timestamp, 'ddd') as days_from_1,
    to_date('2020:11:10', 'yyyy:MM:dd')

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(datetime.datetime(2022, 7, 26, 6, 29, 2, 904293, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '207', datetime.date(2020, 11, 10))]

In [ ]:
# ---Year---
# yyyy - notation for year(2022)

# ----DAY---
# dd or DD - notation for day (25)
# ddd or DDD - notation for how many days from the begining of the year
# day - notation for name of the day (Monday)
# DY - notayion for shortend day (MON) || dy = mon || Dy = Mon

# -----MONTH----
# Mon - notation for Month name (NOV)
# MM -  notation for month (12)
# Month - notation for full month name (November) || MONTH = NOVEMBER || month = november

# # TIME
# HH for 24hrs
# hh for 12 hrs
# mm for minutes
# ss for seconds
# MS for milisecond

*USING EXTRACT AND DATE_PART for DATE QUERIES*

In [80]:
%%sql

SELECT extract(century from current_date) as century

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(21.0,)]

In [82]:
# one can also get 
# -----decade
# -----quater
# -----month
# -----week - within the year
# -----doy -day within year
# -----dow - day within week
# -----hour
# -----minute
# -----second
# -----miliseccond

%%sql

SELECT date_part('century' , current_date) as century

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(21.0,)]

### UNIX TIMESTAMP

In [83]:
# GET THE UNIX TIMESTAMP
%%sql

SELECT extract(epoch from current_date) as epoch

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(1658793600.0,)]

In [84]:
%%sql

SELECT date_part('epoch' , current_date) as epoch

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(1658793600.0,)]

In [86]:
# you can also type cast it using ::date to get the date
%%sql

SELECT to_timestamp(1556662731) AS time_from_epoch

 * postgresql://postgres:***@localhost:5432/prac_db
1 rows affected.

[(datetime.datetime(2019, 4, 30, 22, 18, 51, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

### NUMERIC FUNCTIONS

 * abs - return +ve number
 * round - rounds off
 * ceil, floor
 * gretest
 * sum, avg
 * min,max
 * random
 * pow, sqrt

In [ ]:
# DEaling with nulls using COALESE

In [ ]:
%%sql

SELECT coalese(coms, 0)

### AOBBB

In [ ]:
# #  Step 1: Import library.
# import numpy as np
# from numpy import linspace
# import matplotlib.pyplot as plt
# from mpl_toolkits import mplot3d
# # ***************
# # Step 2: The purpose of using plt.figure() is to create a figure object. We will use plt.axes () to create separate sets of axes in which you will draw each.
# fig = plt.figure(figsize = (8,8))
# ax = plt.axes(projection = '3d')
# # ************
# # Step 3: In this step, we will create our data and plot different graphs.
# t = np.linspace(0, 1, 1000, endpoint=True)
# ax.plot3D(t, signal.square(2 * np.pi * 5 * t))
# # *************
# # Step 4: 360-degree movement of the graph.

# for angle in range(0, 360):
#   ax.view_init(angle,30)
#   plt.draw()
#   plt.pause(.001)