In [ ]:
!pip install tweepy

Requirement already satisfied: tweepy in /usr/local/lib/python3.7/dist-packages (3.10.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy) (2.23.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.3.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2021.5.30)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

In [ ]:
import os
import tweepy as tw

In [ ]:
consumer_key = '91LtHt5fNCABkeWzDDqQZG7eN'
consumer_secret = 'g1GTpyuGwxWL88LcYf0smr5BQCkVbdxHAu5wCICOT7hY7Ij2b3'
access_token = '771329002460082177-WsdjXnzEuexqRWLBXia9PPBpLmcUMN9'
access_token_secret = 'ImxLRfnQmMR8p6wVRkjyR5rWC8cAlFEEfq5jwFWnkUrzE'


auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth,wait_on_rate_limit=True)

In [ ]:
search_words = ["#MentalHealth"]
date_since = "2020-01-01"

In [ ]:
tweets = tw.Cursor(api.search,
                       q=search_words,
                       lang="en",
                       since=date_since).items(1000)
tweets

In [ ]:
import pandas as pd
users_locs = [[tweet.user.screen_name,
               tweet.text,
               tweet.user.location,
               tweet.user.description,
               tweet.user.friends_count,
               tweet.user.followers_count,
               tweet.user.statuses_count,
               tweet.user.created_at,
               tweet.retweet_count, 
               tweet.entities['hashtags']] for tweet in tweets]
users_locs

tweet_text = pd.DataFrame(data=users_locs, 
                    columns=['user', 'tweet',"location", 'description','friends_count','followers_count', 
                             'statuses_count', 'created_at', 'retweet_count', 'hashtags'])
tweet_text

                user  ...                                           hashtags
0     tatendachirisa  ...                                                 []
1    loveISlove_tpwk  ...  [{'text': 'mentalhealth', 'indices': [59, 72]}...
2          chiaxiong  ...                                                 []
3        susanleigh1  ...                                                 []
4      WiltsPolYouth  ...           [{'text': 'GCSEs', 'indices': [34, 40]}]
..               ...  ...                                                ...
995     CoachPerry59  ...                                                 []
996    stephanietara  ...   [{'text': 'mentalhealth', 'indices': [94, 107]}]
997  UKNo1SalesCoach  ...  [{'text': 'TheWork', 'indices': [59, 67]}, {'t...
998         bpdvideo  ...                                                 []
999  OnPurposeMarke1  ...                                                 []

[1000 rows x 10 columns]